*{
  margin: 0;
  padding: 0;
}

table {
  height: 200px;
  table-layout: fixed;
  width: 350px;
}

button {
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 24px;
  height: 30px;
  width: 100%;
}

.display {
  background-color: #2b2b2b;
  border-radius: 0;
  color: #FFF;
  font-size: 24px;
  height: 30px;
  text-align: right;
  width: 100%;
}

button:active {
  border: 2px solid #0067C0;
}